.order-section {
    width: 100%;
    background-color: #f6f6f6;
    min-height: 100vh;
    margin: 0;
    position: relative;
}


.order-wraper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 20px;
    border: 1px solid var(--secondary-ultra-lite-color);
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.2);
}



.order-content {
    display: flex;
    width: 100%;
}

.order-content p {
    flex: 1;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}

.order-content a {
    flex: 1;
    margin: 0;
    padding: 10px;
    font-weight: 800;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.order-content a span {
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: #f6f6f6;
}

.order-content a:hover {
    color: var(--secondary-color);
}

.order-id span {
    color: var(--primary-color);
    font-weight: 800;
}

.order-status span {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
}

.order-status.open-order span {
    background-color: rgb(255, 204, 0);
}

.order-status.in-enquiry span {
    background-color: var(--primary-color);
}

.order-status.accepted span {
    background-color: green;
}

.order-status.rejected span {
    background-color: rgb(196, 0, 0);
}


.order-content.header {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--secondary-ultra-lite-color);
    padding-bottom: 10px;
}

.filter-sort {
    margin-left: 100px;
    margin-right: 20px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.filter-sort div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.filter-sort input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.filter-sort button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
}

.filter-sort button:hover {
    background-color: white;
    color: black;
}

.order-sort {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.order-sort i {
    margin-left: 20px;
}

.order-filter {
    display: flex;
    align-items: center;
}

.order-filter label {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.order-filter select {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}